
<div data-activity-page-target="show" class="d-none">

  <% @comments = Comment.where(activity:activity) %>
    <% if @comments.any? %>
      <div class="each-comment">
        <p><%= Comment.last.user.first_name %> : <%= Comment.last.content %></p>
      </div>
    <% end %>
</div>

