<% (@trip.start_date..@trip.end_date).to_a.each do |date| %>
  <div data-controller="add-activity">
    <div class="day">
      <div class="day-date">
        <h3><%= date.strftime("%a, %e/%m") %></h3>
        <div class="day-date-icons">
          <i class="fa-solid fa-circle-plus"
              data-action="click->add-activity#add"
              data-add-activity-target="plus"></i>
          <i class="fa-solid fa-paperclip"></i>
          <i class="fa-regular fa-comment-dots"></i>
        </div>
      </div>
      <%# Activities %>
      <% if @activities.any? %>
        <%# <% @activities.where(":date >= start_date AND :date <= end_date", date: date).each do |activity| %>
        <% @activities.where(start_date: date).each do |activity| %>
          <div class="day-activity">
            <p><%= activity.name %></p>
          </div>
        <% end %>
      <% else %>
        <div class="day-empty-activity"></div>
      <% end %>
    </div>
    <%# Add activity %>
    <%= render "trips/add_activity", date: date %>
  </div>
<% end %>
