<%# Meta %>
<% content_for :meta_title, "Trip for #{@trip.destination}" %>
<%# <% content_for :meta_image, cl_image_path(@trip.photo.key) if @trip.photo.attached? %>
<div data-controller="navbar-collapse"
          data-action="scroll@window->navbar-collapse#scroll:passive">
<%# Banner %>
<%= render "layouts/trip_banner" %>

<div class="container"
      data-navbar-collapse-target="list">
  <%# Days %>
  <%= render "trips/days" %>

  <%= link_to "Delete this trip", delete_path(@trip), data: { turbo_method: :delete }, class: "delete" %>
</div>

<%= render "trips/navbartrips" %>
</div>
