// Specific CSS for your home-page

.homebanner {
  height: 200px;
  background-size: cover;
  justify-content: center;
  display: flex;
  align-items: flex-end;
}

.btn {
  background-color: #FF9D00;
  border-radius: 20px;
}

.scrollmenu {
  overflow-x: scroll;
  white-space: nowrap;

  .homecard {
    display: inline-block;
    width: 100px;
    height: 200px;
    & img {
      width: 100%;
    }
  }
}

.scrollmenu::-webkit-scrollbar {
  display: none;
}
