.banner {
  background-image: url("assets/home-banner.jpg");
  background-size: cover;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.banner-profile {
  background-color: rgba(250, 243, 232, 0.8);
  width: 80%;
  padding: 20px;
  border-radius: 20px;
}

.banner-profile h1,
.banner-profile p {
  text-align: center;
}
