.day {
  margin: 25px 10px 25px 10px;
}

.day-activity {
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  margin: 10px 5px;
  box-shadow: 0px 4px 4px 0px #00000040;
  background-color: #FFF;
  // display: flex;

  p {
    margin: 0px;
  }
}

.day-empty-activity {
  border-bottom: 1px solid #c9c2c2;
}

.day-date {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.day-date-icons {
  font-size: 20px;
}

.form-btn {
  background-color: #800059;
}


.day-activity-info {
  display: flex;
  align-items: center;
  // justify-content: space-between;

  i {
    margin: 0 15px;
  }

  p {
    font-size: 15px;
  }
}

// .editlogo {
//   display: flex;
//   justify-content: end;
//   width: 100%;
//   margin: 0 !important;
// }

.hide-unless-expanded {
  display: none;
}

.expanded .hide-unless-expanded {
  display: block;
}

.expanded .arrow {
  transform: rotate(90deg);
  transition: transform 300ms ease-in;
}
.location {
  font-size: 12px;
}
