.banner {
  background-image: url("assets/Colombia.jpg");
  background-size: cover;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.banner-card {
  background-color: rgba(250, 243, 232, 0.8);
  width: 80%;
  padding: 20px;
  border-radius: 20px;
}

.banner-card h1,
.banner-card p {
  text-align: center;
}
