<nav class="navbar-planit">
  <div class="navbar-planit-icons">
    <%= link_to content_tag(:i, "", class: "fas fa-home m-2"), root_path %>
    <%= link_to content_tag(:i, "", class: "fa-solid fa-circle-plus m-2", id: "newtrip"), new_trip_path %>
    <%= link_to content_tag(:i, "", class: "fa-solid fa-user m-2"), profile_path %>
  </div>
</nav>
