<nav class="navbar-planit">
  <div class="d-flex justify-content-center">
    <%= link_to content_tag(:i, "", class: "fas fa-home mr-3"), root_path %>
    <%= link_to content_tag(:i, "", class: "fa-solid fa-circle-plus mr-3  ", id: "newtrip"), new_trip_path %>
    <%= link_to content_tag(:i, "", class: "fa-solid fa-user mr-3 "), profile_path %>
  </div>
</nav>
