.form {
  background-color: #FE9D02;
  border-radius: 20px 20px 0px 0px;
  padding: 25px;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;

  h1 {
    margin-bottom: 20px;
  }
}

.form-control {
  background-color: #ffffffcc;
  border-radius: 20px;
  border: none;
}
