@font-face {
  font-family: 'Brasika';
  src: url('Brasika/brasika-display.eot');
  src: url('Brasika/brasika-display.eot?#iefix') format('embedded-opentype'),
       url('Brasika/brasika-display.woff2') format('woff2'),
       url('Brasika/brasika-display.woff') format('woff'),
       url('Brasika/brasika-display.ttf') format('truetype'),
       url('Brasika/brasika-display.svg#brasika_displayregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

// top navbar
.navbar-lewagon {
  justify-content: space-between;
  background: rgba(250, 243, 232, 0.8);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  a {
    color: rgb(250, 243, 232)
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 65px;
  max-width: 100px;
}

.navbar-lewagon span {
  font-family: 'Brasika';
  color: #FE9D02;
  margin-bottom: -2px;
}

.navbar> .container-fluid {
  display: flex;
  align-items: flex-start;
}

// bottom navbar
.navbar-planit {
  background-color: #130056;
  color: white;
  font-size: 24px;
  overflow: hidden;
  position: fixed;
  bottom: 0px;
  width: 100%;
  }

.navbar-planit-icons {
  display: flex;
  justify-content: space-around;
}

.custom-logo {
  margin: 0px 5px 0px 0px;
  height: auto;
  margin-bottom: -10px;
  margin-top: -8px;
}


.navbar-planit i {
  color: white;

  &:hover {
  color: #ff9900;
  }
}
