@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Bungee+Spice&family=Raleway:wght@500&display=swap');
body {
  background-color: #FEF3E0;
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-family: 'ADLaM Display', cursive; /* Cambia esto a la fuente que deseas */
}

h3 {
  font-family: 'ADLaM Display', cursive; /* Cambia esto a la fuente que deseas */
}

#newtrip {
  margin-top: -10px; /* Ajusta la cantidad de desplazamiento según tus necesidades */
  // Why?
}

.container {
  padding-bottom: 70px;
}
