<div data-controller="add-expense">

  <%# Banner %>
  <%= render "layouts/expense_banner" %>

  <div class="container">
    <%# Table of Expenses %>
    <%= render "expense" %>
  </div>

<%= link_to "Create new expense", new_trip_expense_path %>


  <%# Add Expense %>
  <%#= render "add_expense" %>
</div>



<%= render "navbar" %>
