<div class="flex">
  <%# Banner %>
  <%= render "layouts/expense_banner" %>
</div>
<div class="container">
    <div>
      <%# Table of Expenses %>
      <%= render "expense" %>
    <div>
      <%= link_to "Create new expense", new_trip_expense_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
<%= render "navbar" %>
